extends layout

block content
 a(href='/products' title='List Products') List Products
 h1 Products
 table
    thead
        th Title
    tbody
        each account in allAccounts
            tr
                td #{account.username}
