extends layout

block content
 a(href='/' title='Home') Back to Home Page
 h1 Accounts
 table
    thead
      th Usernames
    tbody
      each account in allAccounts
        tr
          td #{account.username}